body{
    background-color: lightgoldenrodyellow;
    padding: 0px;
    margin: 0px;
    child-align: middle;
}

#container{
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#fakebox{
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#fakeInput{
    width: 400px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}
#fakeButton{
    width: 50px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}
#results{
    margin-left: auto;
    margin-right: auto;
}

